<section>
  <div class="container">
    <div class="row">


      <div class="col-md-12 mt-5">
        <div class="m-0  text-center form-bg">
          <button onclick="openTab('all');">All</button>
          <button onclick="openTab('I');">SEM I</button>
          <button onclick="openTab('II');">SEM II</button>
          <button onclick="openTab('III');">SEM III</button>
          <button onclick="openTab('IV');">SEM IV</button>
          <button onclick="openTab('V');">SEM V</button>
          <button onclick="openTab('VI');">SEM VI</button>
        </div>
      </div>
      <div class="col-md-8 mt-5 form-bg">
        <div id="all" class="containerTab" style="">
          <table class="table table table-bordered table-striped table-sm hover" id="myTable">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="I" class="containerTab" style="display:none;">
          <table class="table table table-bordered table-striped table-sm">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              {{#ifeq 1 this.Sem}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/ifeq}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>


        <div id="II" class="containerTab" style="display:none;">
          <table class="table table table-bordered table-striped table-sm">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              {{#ifeq 2 this.Sem}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/ifeq}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="III" class="containerTab" style="display:none;">
          <table class="table table table-bordered table-striped table-sm">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              {{#ifeq 3 this.Sem}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/ifeq}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="IV" class="containerTab" style="display:none;">
          <table class="table table table-bordered table-striped table-sm">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              {{#ifeq 4 this.Sem}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/ifeq}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="V" class="containerTab" style="display:none;">
          <table class="table table table-bordered table-striped table-sm">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              {{#ifeq 5 this.Sem}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/ifeq}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>

        <div id="VI" class="containerTab" style="display:none;">
          <table class="table table table-bordered table-striped table-sm">
            <thead class="table-info">
              <tr>
                <th rowspan="1">Reg.No</th>
                <th rowspan="1">Name</th>
                <th rowspan="1">Department</th>
                <th rowspan="1">Date of Pay</th>
                <th rowspan="1">SEM</th>
                <th rowspan="1">Due</th>
                <th rowspan="1">Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each studentsValues}}
              {{#ifeq 6 this.Sem}}
              <tr>
                <th>{{this.RegNo}}</th>
                <th>{{studentFeeData.Name}}</th>
                <th>{{studentFeeData.Department}}</th>
                <th>{{this.Date}}</th>
                <th>{{this.Sem}}</th>
                <th>{{this.Due}}</th>
                {{#dueCheckT 0 this.Due}}
                <th class="text-center text-success">P</th>
                {{else}}
                <th class="text-center text-danger">NP</th>
                {{/dueCheckT}}
                {{/ifeq}}
                {{/each}}
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4">

        <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-bg mt-5">
          
            <h4 class="main-text mb-3">payment</h4>
            <form class="row g-3" action="/staffs/check-fee-data" method="POST">
              <div class="col-lg-7 col-md-8 col-sm-7 col-7">
                <div class="form-group">
                  <label for="RegNo">reg.no.</label>
                  <input class="form-input" type="text" name="RegNo" id="RegNo">
                </div>
              </div>

              <div class="col-lg-5 col-md-8 col-sm-7 col-7">
                <div class="form-group">
                  <label for="Sem">sem</label>
                  <input class="form-input" type="text" name="Sem" id="sem">
                </div>
              </div>

              <div class="col-lg-6 col-md-8 col-sm-7 col-7">
                <div class="form-group">
                  <label for="Sem">total/ <span class="text-danger" id="feeSem"></span> <span>sem</span></label>
                  <input class="form-input" type="text" name="Sem">
                </div>
              </div>

              <div class="col-lg-6 col-md-8 col-sm-7 col-7">
                <div class="form-group">
                  <label for="Amount">amount</label>
                  <input class="form-input" type="number" name="Amount">
                </div>
              </div>

              <div class="col-lg-6 col-md-8 col-sm-7 col-7">
                <div class="form-group">
                  <label for="DateOfPay">date of pay</label>
                  <input class="form-input not-allowed" type="text" id="date" name="DateOfPay" readonly>
                </div>
              </div>

              <div class="col-lg-6 col-md-8 col-sm-7 col-7">
                <div class="form-group">
                  <label for="Due">due</label>
                  <input class="form-input text-light bg-danger not-allowed" placeholder="blocked" type="text"
                    name="Due" readonly>
                </div>
              </div>

              <div class="form-group">
                <input type="submit" class="form-submit" value="submit">
              </div>

            </form>
         
        </div>
      </div>
    </div>
  </div>

</section>


<style>
  .bg-danger::placeholder {
    color: white;
  }

  .containerTab {
    margin-top: 10px;
    padding: 10px;
    color: white;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
</style>

<script>

$(document).ready( function () {
    $('#myTable').DataTable();
} );

  const sem = document.getElementById("sem");

  const feeSem = document.getElementById("feeSem")

  sem.addEventListener('change', value);

  function value(data) {

    feeSem.textContent = data.target.value;

  }

  //display data by sem's
  function openTab(tabName) {
    var i, x;
    x = document.getElementsByClassName("containerTab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }


  //curent data generator
  function getDate() {
    var today = new Date();
    var to = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
      dd = '0' + dd
    }

    if (mm < 10) {
      mm = '0' + mm
    }

    today = dd + '/' + mm + '/' + yyyy;
    //console.log(today);
    document.getElementById("date").value = today;
  }




  window.onload = function () {
    getDate();
  };
</script>